.menu-home {
  background-color: rgb(255,	171, 39);
  background-image: linear-gradient(rgb(255,	171, 39), white);
  height: 5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 72px;
  z-index: 1000;
  opacity: 95%;


}

@media (min-width: 998px) {

  .menu-home {
    width: 90%;
    z-index: 1000;
  }
}


#slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(137,	42,	91);
}

#slogan h1 {
  font-weight: bold ;
}

.carousel-item {
  object-fit: cover;
}

.carousel-item img {
  height: 30vh;
  width: 50vh;
}

.carrosel {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 5rem;

}

#botao-home-1 {
  background-color: rgb(255,	171, 39) ;
  font-size: 12px;

}

#botao-home-2 {
  background-color: rgb(255, 227, 182) ;
  font-size: 12px;
}

.destaques {
  white-space: nowrap !important;
  background-color: rgb(255,	171, 39);
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.card {
  border-radius: 0;
  min-width: 15rem;
  margin-right: 0.5rem;
  border: none;


}

.card-img-top{
  border-radius: 0;
}
