.menu-home {
  background-color: rgb(255,	171, 39);
  background-image: linear-gradient(rgb(255,	171, 39), white);
  height: 5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 72px;


}

@media (min-width: 998px) {

  .menu-home {
    width: 90%;
  }
}


#slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(137,	42,	91);
}

#slogan h1 {
  font-weight: bold ;
}

.carousel-item img {
  height: 30vh;
}

.carrosel {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 5rem;

}
