.conteudo {
  margin-left: 27%;
  border-top: 2px solid white


}

.foto-show {
  background-image: url("./assets/images/28906-img-programacao.jpg");
  background-size: cover;
  width: 8rem;
  height: 4rem;
  background-repeat: no-repeat;

}

.foto-filme {
  background-image: url("./assets/images/Perola-691x1000-1.jpg.jpeg");
  background-size: cover;
  width: 9.3rem;
  height: 8rem;
  background-repeat: no-repeat;
  margin-top: 5px;

}


.infos {
  margin-left: 20px;
}



.infos p {
  font-weight: medium;
  font-size: 10px;
  margin-bottom: 0;
  color:  rgb(23, 92, 27);
  line-height: 1;
}

.infos strong {
  line-height: 1;
  color:  rgb(23, 92, 27);
  font-size: 14px;
}

#horario {
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 0;
  color: black;
  line-height: 1;
}
.infos-filme {
  margin-left: 20px;
}

.infos-filme p {
  font-weight: medium;
  font-size: 10px;
  margin-bottom: 0;
  color:  rgb(42, 42, 93);
  line-height: 1;
}

.infos-filme strong {
  line-height: 1;
  color: rgb(42, 42, 93);
  font-size: 14px;
}


.letreiro {
  display: flex;
  align-items: end;

}

.sinopse {

  line-height: 1;
  margin-top: 10px;
}

.sinopse p {
  font-size: 10px;
  font-weight: 300;
}

.legenda {
  display: flex;
  gap: 3px;
  font-size: 10px;
}

.legenda strong {
  font-weight: bolder;
}

.show {
  background-color:  rgb(226, 248, 227);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid rgb(23, 92, 27);
  border-top: 2px solid rgb(23, 92, 27);
}

.filme {
  background-color:  rgb(236, 240, 251);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid rgb(42, 42, 93);
  border-top: 2px solid rgb(42, 42, 93);
}

.menu-musica {
  background-color: rgb(23, 92, 27);
  height: 5rem;
  display: flex;
  flex-direction: column;
  position: relative;


}

.ingressos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
