@import "teatro.scss";
@import "filme.scss";
@import "show.scss";

.conteudo {
  margin-left: 20%;
  border-top: 2px solid white;
  width: 80%;
  border-left: 2px solid white;
}


.infos {
  margin-left: 20px;
}

.infos p {
  font-weight: medium;
  font-size: 10px;
  margin-bottom: 0;
  color:  rgb(23, 92, 27);
  line-height: 1;
}

.infos strong {
  line-height: 1;
  color:  rgb(23, 92, 27);
  font-size: 14px;
}

#horario {
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 0;
  color: black;
  line-height: 1;
}


.letreiro {
  display: flex;
  align-items: end;
  width: 100%;


}

#menu-botoes{
  color: rgb(204, 203, 203);
  margin: 5px;
}

.sinopse {

  line-height: 1;
  margin-top: 10px;
}

.sinopse p {
  font-size: 10px;
  font-weight: 300;
}

.legenda {
  display: flex;
  gap: 3px;
  font-size: 10px;
}

.legenda strong {
  font-weight: bolder;
}



.ingressos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
