.show {
  background-color:  rgb(226, 248, 227);
  padding-top: 5px;
  padding-bottom: 5px;
  // padding-left: 10px;
  // padding-right: 10px;
  border-bottom: 4px solid rgb(23, 92, 27);
  width: 80%;
  height: auto;
}

@media (min-width: 998px) {
  .show {
    border-left: 2px solid rgb(23, 92, 27);
    border-right: 2px solid rgb(23, 92, 27);


  }
}

.menu-musica {
  background-color: rgb(23, 92, 27);
  background-image: linear-gradient(rgb(23, 92, 27), rgb(226, 248, 227));
  height: 5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 72px;


}

.foto-musica {
  background-image: url("./assets/images/28906-img-programacao.jpg");
  background-size: cover;
  width: 13rem;
  height: 9rem;
  background-repeat: no-repeat;
  margin-right: 20px
}

@media screen and (min-width: 998px) {
  .foto-musica {
    width: 15rem;
    height: 10rem;


  }
  .menu-musica {
    width: 90%;
  }
}


.infos-musica p {
  font-weight: medium;
  font-size: 12px;
  margin-bottom: 0;
  color:  rgb(23, 92, 27);
  line-height: 1.2;
}

.infos-musica strong {
  line-height: 1.2;
  color:  rgb(23, 92, 27);
  font-size: 14px;
}
