@import "sidebar.scss";
@import "main.scss";
@import "colors.scss";


html {
  font-family: 'roboto', sans-serif!important;
}



.main {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

body {
  font-family: 'roboto', sans-serif!important;
}
