.menu-teatro {
  background-color: rgb(134, 43, 43);
  background-image: linear-gradient(rgb(134, 43, 43),  rgb(251, 230, 230) );
  height: 5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 72px;


}

@media screen and (min-width: 998px) {

  .menu-teatro {
    width: 90%;
  }
}
.teatro {
  background-color:  rgb(251, 230, 230);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 4px solid rgb(134, 43, 43);
}

.infos-teatro {
  margin-left: 20px;
}

.infos-teatro p {
  font-weight: medium;
  font-size: 10px;
  margin-bottom: 0;
  color: rgb(134, 43, 43);
  line-height: 1;
}

.infos-teatro strong {
  line-height: 1;
  color: rgb(134, 43, 43);
  font-size: 14px;
}
