.menu-home {
  background-color: rgb(255,	171, 39);
  background-image: linear-gradient(rgb(255,	171, 39), white);
  height: 7rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 72px;
  z-index: 1000;
  opacity: 95%;


}

@media (min-width: 998px) {

  .menu-home {
    width: 90%;
    z-index: 1000;
  }
}


#slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(137,	42,	91);
}

#slogan h2 {
  font-weight: bold ;
  margin-bottom: 2px;
}

#slogan p {
  font-size: larger;
  font-weight: 300;
}

.carousel-item {
  // object-fit: cover;


}

#menu-botoes {
  opacity: 100%;
  color: white;
}

.carousel-item img {
  height: 30vh;
  width: 50vh;
  object-fit: cover;
}


@media screen and (max-width: 750px) {
  .carousel-item img {
    width: 40vh;
  }

}

.carrosel {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  width: 15rem;

}

.legenda-carrosel {
  background-color: rgb(137,	42,	91);
  min-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.legenda-carrosel p {
  color: white;
  margin-left: 3px;
  margin-bottom: 0px;
  font-size: 12px;
}

#botao-home-1 {
  background-color: rgb(255,	171, 39) ;
  font-size: 12px;

}

#botao-home-2 {
  background-color: rgb(255, 227, 182) ;
  font-size: 12px;
}

.mais-vistos {
  white-space: nowrap !important;
  background-color: rgb(255,	171, 39);
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.ultimos-dias {
  white-space: nowrap !important;
  background-color:  rgb(137,	42,	91);
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.card {
  border-radius: 0;
  min-width: 15rem;
  margin-right: 0.5rem;
  border: none;


}

.card-img-top{
  border-radius: 0;
}
